* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    background-color: #BC364F;
    gap: 0px;
}

.sidebar {

  background: #6C0C1E;
  padding: 2rem 1.5rem;
  width: 300px;
}
  nav {
    position: sticky;
     top: 0;
}

ul {
    list-style: none;
    gap: 10px;
}

li {
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}

li:hover {
    color: #BC364F;
}

#banner {
    width: 100%;
    align-items: center;
    gap: 0px;
}

#word-mark {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50%;
    top:23%;
    left: 25%;
    z-index: 4;
}

img {
    width: 30%;
    height: auto;
}

.content {
    flex: 1;
    flex-basis: auto;
    padding: 2rem;
    right: 50px;
}

#picture-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#picture-container img {
    width: 150px;
    height: auto;
}

.img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}