main {
  max-width: 600px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #EEEAD0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-content: center;
}
h1, h2 {
     font-size: 30px;
    font-family: quantico, sans-serif;
    font-weight: 800;
     color: #201E50;
}
h1 {
    font-size: 70px;
    margin-bottom: -20px;
    margin-top: 0px;
    color: #201E50;
    text-align: center;
    font-weight: 500;
}

h2 {
    padding-top: 10px;
     margin-top: 40px;
     margin-bottom: 5px;
}
p {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 0px;
    padding-top: 15px;
    margin-right: 25px;
}
/*backgroun image size 600x517px */
.tribute-profile {
    background-image: url(my-custom-shapes.png);
    margin-top: 0px;
    padding-top: 0px;
    background-position: center;
}
.caption {
    font-family: Electrolize;
    color: #AC3B29;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}
img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 95px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}

li {
    margin: 40px;
}

#list-timeline {
    list-style-type: none;
    padding: 0;
    align-content: left;
    
}

#list-timeline li {
    padding-left: 103px;
    text-indent: -102px;
}

.date {
    font-family: orbitron;
    letter-spacing: 3px;
    padding: 10px;
    background-color: #AC3B29;
    color: #EEEAD0;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;  
    font-weight: 800
}
.text-line {
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 10px;
}
.quote {
    color: #AC3B29;
    font-family: Electrolize;
    Line-height: 1.5;
    font-size: 25px;
    padding: 20px 0px 0px 5px;
    border-left: 7px solid #EA8206;
    margin: 40px 40px 40px 40px;
    border-radius: 3px;
    
}
#her-hate {
    margin-top: 70px;

}
#author {
    text-align: right;
    padding-top: 25px;
    color:#201E50;
}
footer {
    background-color: #AC3B29;
    margin: 50px -20px -40px -20px;
    padding: 0px;
     border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
    
#profile-link {
    text-align: center;
    padding-bottom: 0px;
    font-size: 15px;
    margin-top: 50px;
    color: white;
    margin-bottom: 0px
}
#rights {
     text-align: center;
     padding-top: 10px;
     text-weight: bold;
     font-size: 15px;
     color: white
    
    
}
#link {
    color: hwb(248 68% 2%);
}